{% extends 'mathsources/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'courses/css/courses_page.css' %}">
{% endblock %}

{% block content %}
<div class="flat-row down">
    {% for course in page_obj %}
        <div class="flat-container">
            <a href="{% url 'course_post'  course.slug_name %}">
                <img src={{course.img.url|default:"" }} alt="">
                <h3>{{ course.title }}</h3>
            </a>
        </div>
    {% endfor %}
</div>

{% if page_obj %}
<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">
            <div class="page_num active">{{ page_obj.previous_page_number }}</div>
        </a>
    {% else %}
        <div class="page_num disabled">...</div>
    {% endif %}
    <div class="page_num current_page">{{ page_obj.number }}</div>
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">
            <div class="page_num active">{{ page_obj.next_page_number }}</div>
        </a>
    {% else %}
        <div class="page_num disabled">...</div>
    {% endif %}
</div>
{% else %}
<div class="flat-row">
    <p>Извините, но по категории "{{ course.slug_name|default:'' }}" на данный момент нет курсов.</p>
</div>
{% endif %}
{% endblock %}