{% extends 'mathsources/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'mathsources/css/books_page.css' %}">
{% endblock %}

{% block content %}
<!-- books -->
<div class="flat-row down">
    {% for book in page_obj %}
        <div class="flat-container">
            <a href="{% url 'post'  book.book_name %}">
                <img src={{book.img.url|default:"" }} alt="">
                <h3>{{ book.title }}</h3>
            </a>
        </div>
    {% endfor %}
</div>
<!-- pagination -->
{% if page_obj %}
<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">
            <div class="page_num active">{{ page_obj.previous_page_number }}</div>
        </a>
    {% else %}
        <div class="page_num disabled">...</div>
    {% endif %}
    <div class="page_num current_page">{{ page_obj.number }}</div>
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">
            <div class="page_num active">{{ page_obj.next_page_number }}</div>
        </a>
    {% else %}
        <div class="page_num disabled">...</div>
    {% endif %}
</div>
{% else %}
<div class="flat-row">
    <p>Извините, но по категории "{{ topic_name }}" на данный момент нет книг.</p>
</div>
{% endif %}
{% endblock %}